h1{
    color: orangered;
}
img{
    width: 400px;
}
.thirdDiv{
    height: 600px;
    background: palegoldenrod;
    padding: 50px;
}
#spanid{
    font-size: 18px;
   margin-top: 50px;
   margin-bottom: 50px;
   border: peru solid;
}